<a href="https://colab.research.google.com/github/drago467/AIVN/blob/master/1_1_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tuples

#### Constructing tuples

Để tạo một tuple, đặt các giá trị trong ngoặc:

In [ ]:
t = (1, 2, 3)

print(t[0])
print(t[1])
print(t[2])

1
2
3

Cũng có thể tạo một tuple không có dấu ngoặc đơn, bằng cách sử dụng dấu phẩy:

In [ ]:
t = 1, 2
print(t)
print(type(t))

(1, 2)
<class 'tuple'>

Nếu bạn muốn tạo một tuple với một phần tử duy nhất, bạn phải sử dụng dấu phẩy:

In [ ]:
singleton = (1, )
singleton

(1,)

In [ ]:
var1 = (1 + 2) * 5
print(type(var1), ' ', var1)

var2 = (1)
print(type(var2), ' ', var2)

var3 = (1,)
print(type(var3), ' ', var3)

<class 'int'>   15
<class 'int'>   1
<class 'tuple'>   (1,)

Bạn có thể lặp lại một tuple bằng cách nhân một tuple với một số:

In [ ]:
t = (1,) * 5
print(t)

(1, 1, 1, 1, 1)

Lưu ý rằng bạn có thể nối các bộ dữ liệu và sử dụng phép gán tăng giá trị (* =, + =):

In [ ]:
t1 = (1, 0)
print(t1)

t1 += (2,)
print(t1)

(1, 0)
(1, 0, 2)

#### Tuple methods

In [ ]:
t = (1,2,3,1)
count = t.count(1)
index = t.index(2)

print(count)
print(index)

2
1

In [ ]:
l.index(2)

1

####  Interests of tuples

Tuples hữu ích vì có
. Nhanh hơn list

. Bảo vệ dữ liệu

. Bộ dữ liệu có thể được sử dụng làm khóa trên dictionary

. Ngoài ra, nó có thể được sử dụng theo những cách hữu ích khác nhau:

#### Tuples cặp khóa / giá trị để xây dựng dictionary

In [ ]:
d = dict([('jan', 1), ('feb', 2), ('march', 3)])

print(d['jan'])
print(d['feb'])
print(d['march'])

1
2
3

#### get multiple values

In [ ]:
x1,y1,z1   = ('a','b','c')
(x2,y2,z2) = ('a','b','c')
(x3,y3,z3) = range(3)

print(x1)
print(x2)
print(x3)

a
a
0

In [ ]:
x1,y1,z1   = ('a','b','c')
(x2,y2,z2) = ('a','b','c')
print(x1)
print(x2)

a
a

In [ ]:
(x,y,z) = range(3)
print(x,y,z)

0 1 2

In [ ]:
a = range(3)
print(type(a))

<class 'range'>

In [ ]:
d = {'first':'string value', 'second':1}
for a in d:
    print(a)

first
second

In [ ]:
d = {'first':'string value', 'second':[1,2]}
items = d.items()
print('items:', items)
for k,v in items:
    print(k, v)

#### Tuple Unpacking

Tuple unpacking cho phép trích xuất các phần tử tuple tự động là danh sách các biến ở bên trái có cùng số phần tử với độ dài của tuple

In [ ]:
data  = (1,2,3)
x, y, z = data
print(x)

1

#### Tuple can be use as swap function

Mã này đảo ngược nội dung của 2 biến x và y:

In [ ]:
x = 4
y = 5

print(x, y)

#(x,y) = (y,x)
x,y = y,x
print(x, y)

4 5
5 4

Các bạn quan tâm tới mã code phía dưới:

In [ ]:
def swap(v1, v2):
    (v2, v1) = (v1, v2)
    return (v1, v2)

In [ ]:
v1 = 2
v2 = 3
(v1, v2) = swap(v1, v2)

# print
print(v1)
print(v2)

3
2

### Misc

Length
Tìm chiều dài của một tuple, bạn dùng phương thức len():

In [ ]:
t = (1, 2, 3, 4)
len(t)

4

Slicing (extracting a segment)

In [ ]:
data = (1, 2, 3, 4, 5)
print(data[2:])
print(data[::-1])

(3, 4, 5)
(5, 4, 3, 2, 1)

Copy a tuple

In [ ]:
t = (1, 2, 3, 4, 5)

new_t = t.copy()
print(new_t)

AttributeError: 'tuple' object has no attribute 'copy'

Tuple are not fully immutable

In [ ]:
t = (1, 2, [3, 10])
t[2][0] = 9
print(t)

(1, 2, [9, 10])

In [ ]:
t = (1, 2, [3, 10])
t[2][1] = 4
print(t)

(1, 2, [3, 4])

In [ ]:
t = (1, 2, 3, 4, 5)
t[2] = 9
print(t)

TypeError: 'tuple' object does not support item assignment

Chuyển đổi một tuple thành một chuỗi

Bạn có thể chuyển đổi một tuple thành một chuỗi với cách sau

In [ ]:
data = (1, 2, 3, 4, 5)
data_str = str(data)
print(data_str)
print(type(data_str))

(1, 2, 3, 4, 5)
<class 'str'>

In [ ]:
print(data_str[0])

(

math and comparison

Toán tử so sánh và các hàm toán học có thể được sử dụng trên các bộ dữ liệu. Dưới đây là một số ví dụ:

In [ ]:
t = (1, 2, 3, 4, 5)

print(min(t))
print(max(t))
print(sum(t))

1
5
15

In [ ]:
t = (4, 7, 3, 9, 6)
t_s = sorted(t)
print(t_s)

[3, 4, 6, 7, 9]

In [ ]:
t1 = (1, 2, 3, 4, 5)
t2 = ('a', 'b', 'c', 'd', 'e')

print(t1)
print(t2)

t3 = zip(t1, t2)
for x,y in t3:
    print(x, y)

(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd', 'e')
1 a
2 b
3 c
4 d
5 e

In [ ]:
import math

def quadratic_equation(a, b, c):
    '''
    This function aims at solving the quadratic equation
    a, b, c --- three parameters and a =! 0
    '''

    # compute delta
    delta = b*b - 4*a*c

    if delta < 0:
        return ()
    elif delta == 0:
        x = (-b+math.sqrt(delta))/2*a
        return (x,)
    else:
        x1 = (-b+math.sqrt(delta))/(2*a)
        x2 = (-b-math.sqrt(delta))/(2*a)
        return (x1,x2)

In [ ]:
result = quadratic_equation(a=5, b=0, c=1)
print(type(result))
print(len(result))
print(result)

<class 'tuple'>
0
()

In [ ]:
result = quadratic_equation(a=5, b=5, c=1)
print(type(result))
print(len(result))
print(result)

<class 'tuple'>
2
(-0.276393202250021, -0.7236067977499789)

In [ ]:
result = quadratic_equation(a=4, b=4, c=1)
print(type(result))
print(len(result))
print(result)

<class 'tuple'>
1
(-8.0,)

In [ ]:
result = quadratic_equation(a=4, b=4, c=1)
result[0] = 1

TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuple and zip

x_data = [1, 2, 3]
y_data = [5, 6, 7]
data = zip(x_data, y_data)

# print
for d in data:
    print(d)
    print(type(d))

(1, 5)
<class 'tuple'>
(2, 6)
<class 'tuple'>
(3, 7)
<class 'tuple'>

## Tuple and List

In [ ]:
# memory comparison
import sys

aList  = [3, 4, 5, 6, 7]
aTuple = (3, 4, 5, 6, 7)

print(sys.getsizeof(aList))
print(sys.getsizeof(aTuple))

120
80

In [ ]:
# convert from list to tuple
aList  = [3, 4, 5, 6, 7]
aTuple = tuple(aList)

print(aTuple)
print(type(aTuple))

(3, 4, 5, 6, 7)
<class 'tuple'>

In [ ]:
# convert from tuple to list
aTuple  = (3, 4, 5, 6, 7)
aList = list(aList)

print(aList)
print(type(aList))

[3, 4, 5, 6, 7]
<class 'list'>