<a href="https://colab.research.google.com/github/drago467/AIVN/blob/master/1_2_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# create a set
animals = {"cat", "dog", "tiger"}

print(type(animals))
print(animals)

In [ ]:
# create a set
a_set = {"cat", 5, True, 40.0}

print(type(a_set))
print(a_set)

In [ ]:
# No duplication
animals = {"cat", "dog", "tiger"}
print(animals)

animals.add("cat")
print(animals)

In [ ]:
# copy
animals = {"cat", "dog", "tiger"}
print("Animals:", animals)

a_copy = animals.copy()
print("Copy:", a_copy)

In [ ]:
# accessing items
animals = {"cat", "dog", "tiger"}
for animal in animals:
    print(animal)

In [ ]:
# not support indexing
animals = {"cat", "dog", "tiger"}
print(animals[1])

In [ ]:
# add an item
animals = {"cat", "dog", "tiger"}
animals.add("bear")
print(animals)

In [ ]:
# insert a set to another set
animals = {"cat", "dog", "tiger"}
animals.update({"chicken","Duck"})
print(animals)

In [ ]:
# join two sets
set1 = {"cat", "dog"}
set2 = {"duck", "tiger"}

set3 = set1.union(set2)
print(set3)

In [ ]:
# remove an item
animals = {"cat", "dog", "tiger"}
animals.remove("dog")
print(animals)

In [ ]:
# remove an item
animals = {"cat", "dog", "tiger"}
animals.discard("tiger")
print(animals)

In [ ]:
# remove an item
animals = {"cat", "dog", "tiger"}
animals.remove("duck")
print(animals)

In [ ]:
# remove an item
animals = {"cat", "dog", "tiger"}
animals.discard("duck")
print(animals)

In [ ]:
# create a set
a_list = [1, 2, 3]
a_set  = {"cat", a_list}
print(a_set)

In [ ]:
# difference

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

set3 = set1.difference(set2)

print(set3)

In [ ]:
# difference_update

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

set1.difference_update(set2)

print(set1)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

print(id(set1))
set1.difference_update(set2)

print(set1)
print(id(set1))

In [ ]:
# symmetric_difference

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

In [ ]:
# symmetric_difference_update

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

In [ ]:
# AND (&)

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 & set2)

In [ ]:
# OR (|)

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2)

In [ ]:
# XOR (^)

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 ^ set2)

In [ ]:
# subtraction (-)

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 - set2)

In [ ]:
# set comprehension

aSet = {i*i for i in range(10)}
print(aSet)

## Conversion

In [ ]:
# convert from set to list
aSet = {1, 2, 3, 4, 5}

aList = list(aSet)
print(aList)
print(type(aList))

In [ ]:
# convert from set to tuple
aSet = {1, 2, 3, 4, 5}

aTuple = tuple(aSet)
print(aTuple)
print(type(aTuple))

In [ ]:
# convert from list to set
aList = [1, 2, 3, 2, 1]

aSet = set(aList)
print(aSet)
print(type(aSet))

In [ ]:
# convert from tuple to set
aTuple = (1, 2, 3, 2, 1)

aSet = set(aTuple)
print(aSet)
print(type(aSet))

## Application

In [ ]:
# kết nối với file
a_file = open('data.txt','r')

# read content
data = a_file.read()
print(data)

# Đóng kết nối với file
a_file.close()

Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected.  It supports multiple programming paradigms, including structured, object-oriented and functional programming.

In [ ]:
data = data.replace('.', '')
print(data)

Python is a high-level, interpreted, general-purpose programming language Its design philosophy emphasizes code readability with the use of significant indentation Python is dynamically-typed and garbage-collected  It supports multiple programming paradigms, including structured, object-oriented and functional programming

In [ ]:
data = data.replace(',', '')
print(data)

Python is a high-level interpreted general-purpose programming language Its design philosophy emphasizes code readability with the use of significant indentation Python is dynamically-typed and garbage-collected  It supports multiple programming paradigms including structured object-oriented and functional programming

In [ ]:
data = data.replace('-', ' ')
print(data)

Python is a high level interpreted general purpose programming language Its design philosophy emphasizes code readability with the use of significant indentation Python is dynamically typed and garbage collected  It supports multiple programming paradigms including structured object oriented and functional programming

In [ ]:
data = data.lower()
print(data)

python is a high level interpreted general purpose programming language its design philosophy emphasizes code readability with the use of significant indentation python is dynamically typed and garbage collected  it supports multiple programming paradigms including structured object oriented and functional programming

In [ ]:
data = data.split()
print(data)
print(len(data))

['python', 'is', 'a', 'high', 'level', 'interpreted', 'general', 'purpose', 'programming', 'language', 'its', 'design', 'philosophy', 'emphasizes', 'code', 'readability', 'with', 'the', 'use', 'of', 'significant', 'indentation', 'python', 'is', 'dynamically', 'typed', 'and', 'garbage', 'collected', 'it', 'supports', 'multiple', 'programming', 'paradigms', 'including', 'structured', 'object', 'oriented', 'and', 'functional', 'programming']
41

In [ ]:
data = set(data)
print(data)
print(len(data))

{'its', 'indentation', 'collected', 'supports', 'is', 'programming', 'garbage', 'purpose', 'it', 'including', 'and', 'typed', 'interpreted', 'dynamically', 'multiple', 'python', 'functional', 'readability', 'general', 'with', 'philosophy', 'object', 'level', 'paradigms', 'design', 'a', 'the', 'oriented', 'emphasizes', 'high', 'significant', 'structured', 'language', 'code', 'use', 'of'}
36

In [ ]:
for index, value in enumerate(data):
    print(index, value)

0 its
1 indentation
2 collected
3 supports
4 is
5 programming
6 garbage
7 purpose
8 it
9 including
10 and
11 typed
12 interpreted
13 dynamically
14 multiple
15 python
16 functional
17 readability
18 general
19 with
20 philosophy
21 object
22 level
23 paradigms
24 design
25 a
26 the
27 oriented
28 emphasizes
29 high
30 significant
31 structured
32 language
33 code
34 use
35 of